- name: Install Neovim (Ubuntu)
  become: true
  block:
    - name: Remove old Neovim version (Ubuntu)
      apt:
        name: neovim
        state: absent

    - name: Add Neovim PPA (Ubuntu)
      apt_repository:
        repo: ppa:neovim-ppa/unstable
        state: present
        update_cache: yes

    - name: Install Neovim from PPA (Ubuntu)
      apt:
        name:
          - neovim
          - python3-neovim
        state: present
  when: ansible_distribution == "Ubuntu"

- name: Install latest Neovim on Debian
  block:
    - name: Enable Debian Trixie-Backports Repository
      become: true
      apt_repository:
        repo: "deb http://deb.debian.org/debian trixie-backports main"
        state: present
        filename: "debian-trixie-backports"
        update_cache: yes

    - name: Ensure apt cache is updated
      become: true
      apt:
        update_cache: yes

    - name: Install Latest Neovim from Trixie-Backports
      apt:
        name:
          - neovim
          - python3-neovim
        state: present
        install_recommends: yes
      environment:
        APT_LISTCHANGES_FRONTEND: "none"

    - name: Verify Neovim installation
      command: nvim --version
      register: nvim_check
      changed_when: false

    - name: Install Python support for Neovim (Debian)
      become: true
      apt:
        name: python3-neovim
        state: present
  when: ansible_distribution == "Debian"

- name: Install Neovim on Fedora-based systems
  block:
    - name: Remove old Neovim version (Fedora)
      become: true
      dnf:
        name: neovim
        state: absent

    - name: Install Neovim on Fedora-based systems
      become: true
      dnf:
        name:
          - neovim
          - python3-neovim
        state: latest
  when: ansible_os_family == "RedHat"

- name: Install latest Neovim (MacOS)
  homebrew:
    name: 
      - neovim
      - python3-neovim
    state: latest
  when: ansible_os_family == "Darwin"